<div class="reset-container">
    <div class="reset-header">
        <fin-icon type="image" icon="fin" size="15xl"/>
        <fin-text text="finCore.appName" type="title"/>
        <fin-text text="finCore.auth.pages.resetPassword.title" type="subtitle"/>
        <fin-text text="finCore.auth.pages.resetPassword.subtitle" type="info"/>
    </div>
    <form [formGroup]="form" class="reset-form">
        <fin-input
                [formControl]="form.controls.password"
                label="finCore.auth.password"
                type="password"
                width="300px"
        />

        <fin-password-rules-info [passwordControl]="form.controls.password"/>

        <fin-input
                [formControl]="form.controls.passwordConfirmation"
                label="finCore.auth.confirmYourPassword"
                type="password"
                width="300px"
                [customErrorText]="form.controls.passwordConfirmation.errors?.['passwordsDoNotMatch'] ? 'finCore.auth.erros.passwordsMustBeEquals': ''"
        />
    </form>
    <div class="actions">
        <fin-button
                text="finCore.auth.pages.resetPassword.resetPassword"
                [disabled]="!form.valid"
        />
    </div>
</div>