<div class="reset-container">
    <div class="reset-header">
        <fin-icon type="image" icon="fin" size="15xl"/>
        <fin-text text="finCore.appName" type="title"/>
        <fin-text text="finCore.auth.pages.resetPassword.title" type="subtitle"/>
        <fin-text text="finCore.auth.pages.resetPassword.subtitle" type="info"/>
    </div>
    <form [formGroup]="form" class="reset-form">
        @if (!resetDone()) {
            <fin-input
                    [formControl]="form.controls.password"
                    label="finCore.auth.password"
                    type="password"
                    width="300px"
            />

            <fin-password-rules-info [passwordControl]="form.controls.password"/>

            <fin-input
                    [formControl]="form.controls.passwordConfirmation"
                    label="finCore.auth.confirmYourPassword"
                    type="password"
                    width="300px"
                    [customErrorText]="form.controls.passwordConfirmation.errors?.['passwordsDoNotMatch'] ? 'finCore.auth.erros.passwordsMustBeEquals': ''"
            />
        } @else {
            <fin-icon
                    icon="thumbs-up"
                    iconColor="var(--color-secondary)"
                    size="10xl"
            />
            <fin-text
                    textColor="var(--color-secondary)"
                    type="info"
                    text="finCore.auth.pages.resetPassword.success"
            />
        }
    </form>
    <div class="actions">
        @if (!resetDone()) {
            <fin-button
                    text="finCore.auth.pages.resetPassword.resetPassword"
                    [disabled]="!form.valid || loading()"
                    [spinner]="loading()"
                    (onClick)="resetPassword()"
            />
        } @else {
            <fin-button
                    text="finCore.auth.comeBackLogin"
                    variant="text"
                    icon="arrow-left-long"
                    iconColor="var(--color-secondary)"
                    routerLink="/authentication/login"
            />
        }
    </div>
</div>