<div class="reset-container">
    <div class="reset-header">
        <fin-icon type="image" icon="fin" size="15xl"/>
        <fin-text text="fin-core.appName" type="title"/>
        <fin-text text="fin-core.auth.pages.resetPassword.title" type="subtitle"/>
        <fin-text text="fin-core.auth.pages.resetPassword.subtitle" type="info"/>
    </div>
    <form [formGroup]="form" class="reset-form">
        <fin-input
                [formControl]="form.controls.password"
                label="fin-core.auth.password"
                type="password"
                width="20rem"
        />

        <fin-password-rules-info [passwordControl]="form.controls.password"/>

        <fin-input
                [formControl]="form.controls.passwordConfirmation"
                label="fin-core.auth.confirmYourPassword"
                type="password"
                width="20rem"
        />
    </form>
    <div class="actions">
        <fin-button text="fin-core.auth.pages.resetPassword.resetPassword"/>
    </div>
</div>