.dialog-container {
  padding: 1rem;
}

.dialog-header {
  align-items: center;
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.dialog-title {
  align-items: center;
  display: flex;
  gap: 0.2rem;
  justify-content: flex-start;
}

.dialog-content {
  padding-bottom: 1rem;
  padding-top: 1.5rem;
}

.color-bar {
  border-radius: 1rem 1rem 0 0;
  display: flex;
  height: 0.4rem;
  width: 100%;
}
