:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  overflow: hidden;
  width: 100%;
}

.content {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  overflow: hidden;
  width: 100%;

  &.loading {
    justify-content: center;
  }
}

.header {
  padding-bottom: 1rem;
  width: 100%;
}
