:host {
  background-color: var(--background-light);
  border: 2px solid var(--color-secondary);
  border-radius: 0.5rem;
  box-shadow: rgb(0 0 0 / 20%) 0 5px 15px;
  display: block;
  height: 100%;
  max-height: 20rem;
  outline: none;
  overflow-y: auto;
  width: 100%;

  &:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 0 2px rgb(var(--color-primary-rgb), 0.2);
  }
}

.result {
  align-items: center;
  color: var(--text-light);
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
  padding: 0.3rem;

  &:hover:not(.empty, .loading) {
    background-color: var(--color-hover);
  }

  &.loading {
    justify-content: center;
  }

  &.empty,
  &.loading {
    cursor: unset;
  }

  &.selected {
    background-color: var(--color-primary);
    color: var(--text-light);
  }
}
