<fin-page-layout [title]="title()" [loading]="loading()">
  <div class="form-container">
    <div class="form-header">
      <fin-text
        type="title"
        [text]="title()"
      />
    </div>

    @if (formGroup()) {
      <form [formGroup]="formGroup()" class="fin-grid-layout">
        <ng-content />
      </form>
    }

    <div class="form-footer">
      <fin-button
        severity="secondary"
        variant="outlined"
        text="finCore.actions.cancel"
        (onClick)="onCancel.emit()"
      />

    <fin-save-button
      [canSave]="canSave()"
      [saving]="saveOptions() ? saving() : isSaving()" 
      (onSave)="saveOptions() ? handleSave() : onSave.emit()"
    /><!--manter op ? por enquanto-->
  
    </div>
  </div>
</fin-page-layout>