.itens-container {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  place-items: center;
}

.side-nav-toggle {
  display: none;
}

@media (width <= 768px) {
  fin-theme-toggle,
  fin-user-image,
  .logo-icon {
    display: none;
  }

  .side-nav-toggle {
    display: block;
  }
}

button {
  background-color: transparent;
  border: none;
}

.logo-icon {
  cursor: pointer;
}

.menu-btn-container {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-top: 0.5rem;

  .option {
    align-items: center;
    color: unset;
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
    padding: 0.5rem 0.8rem;
    text-decoration: none;

    &:hover {
      background-color: var(--color-hover);
    }
  }
}

.perfil-container {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
  padding: 0.2rem 0.8rem;
  width: 100%;

  &:hover {
    background-color: var(--color-hover);
  }

  .name-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
