<div>
    <ul>
        @for (rule of validationMessages; track rule.) {

        }
        <li [class.valid-rule]="!passwordControl()?.errors?.['minLength']">
            Ter pelo menos 5 caracteres
        </li>
        <li [class.valid-rule]="!passwordControl()?.errors?.['hasLowercase']">
            Conter uma letra minúscula
        </li>
        <li [class.valid-rule]="!passwordControl()?.errors?.['hasUppercase']">
            Conter uma letra maiúscula
        </li>
        <li [class.valid-rule]="!passwordControl()?.errors?.['hasNumber']">
            Conter um número
        </li>
        <li [class.valid-rule]="!passwordControl()?.errors?.['hasSpecial']">
            Conter um caractere especial
        </li>
    </ul>
</div>
