.icon-container {
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
}

img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

i {
  align-items: center;
  display: flex;
  justify-content: center;
  color: var(--text-color);
}

:host {
  display: block;
}
