fin-button {
  width: fit-content;
  display: flex;

  .p-overlaybadge .p-badge  {
    right: 8px;
    top: 8px;
    outline: none;
    font-size: 9px;
    min-width: 0.9rem;
    height: 0.9rem;
    line-height: 0.9rem;
  }

  p-button:not(.icon-only),
  p-button:not(.icon-only) > button {
    width: 100%;
  }

  p-button:not(.icon-only) > button {
    padding: 0.25rem 0.75rem;
    height: 38px;

    span {
      padding: 0 4px;
    }
  }

  // Spinner padding combos
  p-button.maybe-has-spin:not(.icon-only) {
    &:not(.has-spin) {
      &:not(.has-icon):not(.has-icon-suffix) > button span {
        padding: 0 40px;
      }

      &.has-icon:not(.has-icon-suffix) > button span {
        padding-left: 4px;
        padding-right: 40px;
      }

      &.has-icon-suffix:not(.has-icon) > button span {
        padding-left: 40px;
        padding-right: 4px;
      }

      &.has-icon.has-icon-suffix > button span {
        padding: 0 4px;
      }
    }

    &.has-spin:not(.has-icon-suffix) > button span {
      padding-left: 4px;
      padding-right: 40px;
    }
  }

  // Icon coloring (non-icon-only)
  p-button:not(.icon-only) {
    > button fin-icon i {
      color: var(--p-button-primary-color);
    }

    .spinner {
      padding: 0 4px;
      width: 28px !important;
    }
  }

  .spinner circle {
    stroke: var(--p-button-primary-color);
  }

  // Icon-only buttons
  p-button.icon-only > button {
    width: 40px;
    height: 40px;

    // Core color classes
    @each $type in primary, secondary, success, info, danger {
      &.p-button-#{$type} {
        fin-icon i {
          color: var(--p-#{$type}-color);
        }

        .spinner circle {
          stroke: var(--p-#{$type}-color);
        }
      }
    }
  }
}
