fin-button {
  width: 75%;
  padding-bottom: 1rem;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.finished-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20rem;
}