fin-side-modal {
  display: flex;
  flex: 1;
  height: auto;
  overflow: hidden;

  > mat-drawer-container {
    flex: 1;
    height: auto;
    overflow: hidden;

    mat-drawer {
      background-color: var(--p-toolbar-background) !important;

      > * {
        display: flex;

        > * {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
