fin-grid {
  height: 100%;
  width: 100%;
  display: flex;

  p-table {
    height: 100%;
    width: 100%;
    display: flex;

    .p-datatable {
      max-height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      background: var(--p-content-background);
      border: 1px solid var(--p-content-border-color);
      border-radius: 0.80rem;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
      background: var(--p-surface-300);
    }

    .p-datatable-table-container {
      flex: 1;
      overflow-y: auto;

      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
        width: 0;
        height: 0;
        background: transparent;
      }

      &::-webkit-scrollbar-track {
        display: none;
      }

      &::-webkit-scrollbar-thumb {
        display: none;
      }

      .p-datatable-table {
        thead {
          z-index: 2;
          overflow: hidden;
        }

        thead th {
          background: var(--p-content-background);
          color: var(--text-color);
          font-weight: 700;
          padding-left: 0.5rem;
          padding-bottom: 0.4rem;
          padding-top: 0.4rem;
          border: none;
          border-bottom: 1px solid var(--p-content-border-color);
          position: sticky;
          top: 0;
          z-index: 10;

          &:first-child {
            border-top-left-radius: 0.5rem;
          }

          &:last-child {
            border-top-right-radius: 0.5rem;
          }
        }

        tbody {
          tr {
            td {
              color: var(--text-color);
              padding-left: 1rem;
              padding-bottom: 0.1rem;
              padding-top: 0.1rem;
            }

            &:nth-child(odd) {
              background-color: var(--p-surface-50);
            }

            &:nth-child(even) {
              background-color: var(--p-surface-0);
            }
          }
        }
      }
    }

    .p-paginator {
      background: transparent;
      border-top: 1px solid var(--p-content-border-color);
      padding: 0.1rem;
      border-radius: 0;

      .p-paginator-rpp-dropdown > div,
      .p-paginator-rpp-dropdown > span {
        padding: 0.3rem;
      }

      .p-paginator-page,
      .p-paginator-prev,
      .p-paginator-next,
      .p-paginator-first,
      .p-paginator-last {
        color: var(--text-color);
        min-width: 2rem;
        height: 2rem;

        &.p-paginator-page-selected {
          background: var(--color-secondary);
          color: var(--p-primary-contrast-color);
        }
      }
    }
  }
}

fin-grid p-table .p-datatable-table-container {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box;

  .p-datatable-table {
    width: 100%;
    margin: 0;
  }
}