.fin-grid-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}


.col-1  { flex: 0 0 calc((100% / 12) * 1 - 1rem); }
.col-2  { flex: 0 0 calc((100% / 12) * 2 - 1rem); }
.col-3  { flex: 0 0 calc((100% / 12) * 3 - 1rem); }
.col-4  { flex: 0 0 calc((100% / 12) * 4 - 1rem); }
.col-5  { flex: 0 0 calc((100% / 12) * 5 - 1rem); }
.col-6  { flex: 0 0 calc((100% / 12) * 6 - 1rem); }
.col-7  { flex: 0 0 calc((100% / 12) * 7 - 1rem); }
.col-8  { flex: 0 0 calc((100% / 12) * 8 - 1rem); }
.col-9  { flex: 0 0 calc((100% / 12) * 9 - 1rem); }
.col-10 { flex: 0 0 calc((100% / 12) * 10 - 1rem); }
.col-11 { flex: 0 0 calc((100% / 12) * 11 - 1rem); }
.col-12 { flex: 0 0 calc(100% - 1rem); }

[class*="col-"] {
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6 {
    flex: 0 0 calc(50% - 0.5rem);
  }
  .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    flex: 0 0 calc(100% - 0rem);
  }

  .col-t-1  { flex: 0 0 calc((100% / 12) * 1 - 1rem); }
  .col-t-2  { flex: 0 0 calc((100% / 12) * 2 - 1rem); }
  .col-t-3  { flex: 0 0 calc((100% / 12) * 3 - 1rem); }
  .col-t-4  { flex: 0 0 calc((100% / 12) * 4 - 1rem); }
  .col-t-5  { flex: 0 0 calc((100% / 12) * 5 - 1rem); }
  .col-t-6  { flex: 0 0 calc((100% / 12) * 6 - 1rem); }
  .col-t-7  { flex: 0 0 calc((100% / 12) * 7 - 1rem); }
  .col-t-8  { flex: 0 0 calc((100% / 12) * 8 - 1rem); }
  .col-t-9  { flex: 0 0 calc((100% / 12) * 9 - 1rem); }
  .col-t-10 { flex: 0 0 calc((100% / 12) * 10 - 1rem); }
  .col-t-11 { flex: 0 0 calc((100% / 12) * 11 - 1rem); }
  .col-t-12 { flex: 0 0 calc(100% - 0rem); }
}

@media (max-width: 480px) {
  [class*="col-"] {
    flex: 0 0 calc(100% - 0rem);
  }

  .col-m-1  { flex: 0 0 calc((100% / 12) * 1 - 1rem); }
  .col-m-2  { flex: 0 0 calc((100% / 12) * 2 - 1rem); }
  .col-m-3  { flex: 0 0 calc((100% / 12) * 3 - 1rem); }
  .col-m-4  { flex: 0 0 calc((100% / 12) * 4 - 1rem); }
  .col-m-5  { flex: 0 0 calc((100% / 12) * 5 - 1rem); }
  .col-m-6  { flex: 0 0 calc((100% / 12) * 6 - 1rem); }
  .col-m-7  { flex: 0 0 calc((100% / 12) * 7 - 1rem); }
  .col-m-8  { flex: 0 0 calc((100% / 12) * 8 - 1rem); }
  .col-m-9  { flex: 0 0 calc((100% / 12) * 9 - 1rem); }
  .col-m-10 { flex: 0 0 calc((100% / 12) * 10 - 1rem); }
  .col-m-11 { flex: 0 0 calc((100% / 12) * 11 - 1rem); }
  .col-m-12 { flex: 0 0 calc(100% - 0rem); }
}