@use '@angular/material' as mat;

@include mat.core();

$primary-palette: (
        50: #fdc570,
        100: #fdc570,
        200: #fdc570,
        300: #f87b07,
        400: #f87b07,
        500: #f87b07,
        600: #f87b07,
        700: #f87b07,
        800: #fdc570,
        900: #fdc570,
        A100: #fdc570,
        A200: #f87b07,
        A400: #f87b07,
        A700: #f87b07,
        contrast: (
                50: #000000,
                100: #000000,
                200: #000000,
                300: #ffffff,
                400: #ffffff,
                500: #ffffff,
                600: #ffffff,
                700: #ffffff,
                800: #000000,
                900: #000000,
                A100: #000000,
                A200: #ffffff,
                A400: #ffffff,
                A700: #ffffff,
        )
);
$secondary-palette: (
        50: #212529,
        100: #212529,
        200: #212529,
        300: #212529,
        400: #212529,
        500: #212529,
        600: #212529,
        700: #212529,
        800: #212529,
        900: #212529,
        A100: #212529,
        A200: #212529,
        A400: #212529,
        A700: #212529,
        contrast: (
                50: #ffffff,
                100: #ffffff,
                200: #ffffff,
                300: #ffffff,
                400: #ffffff,
                500: #ffffff,
                600: #ffffff,
                700: #ffffff,
                800: #ffffff,
                900: #ffffff,
                A100: #ffffff,
                A200: #ffffff,
                A400: #ffffff,
                A700: #ffffff,
        )
);
$tertiary-palette: (
        50: #6c757d,
        100: #6c757d,
        200: #adb5bd,
        300: #adb5bd,
        400: #adb5bd,
        500: #adb5bd,
        600: #adb5bd,
        700: #adb5bd,
        800: #adb5bd,
        900: #adb5bd,
        A100: #adb5bd,
        A200: #adb5bd,
        A400: #adb5bd,
        A700: #adb5bd,
        contrast: (
                50: #ffffff,
                100: #ffffff,
                200: #000000,
                300: #000000,
                400: #000000,
                500: #000000,
                600: #000000,
                700: #000000,
                800: #000000,
                900: #000000,
                A100: #000000,
                A200: #000000,
                A400: #000000,
                A700: #000000,
        )
);
$error-palette: (
        50: #f21b3f,
        100: #f21b3f,
        200: #f21b3f,
        300: #f21b3f,
        400: #f21b3f,
        500: #f21b3f,
        600: #f21b3f,
        700: #f21b3f,
        800: #f21b3f,
        900: #f21b3f,
        A100: #f21b3f,
        A200: #f21b3f,
        A400: #f21b3f,
        A700: #f21b3f,
        contrast: (
                50: #ffffff,
                100: #ffffff,
                200: #ffffff,
                300: #ffffff,
                400: #ffffff,
                500: #ffffff,
                600: #ffffff,
                700: #ffffff,
                800: #ffffff,
                900: #ffffff,
                A100: #ffffff,
                A200: #ffffff,
                A400: #ffffff,
                A700: #ffffff,
        )
);
$warn-palette: (
        50: #ff9914,
        100: #ff9914,
        200: #ff9914,
        300: #ff9914,
        400: #ff9914,
        500: #ff9914,
        600: #ff9914,
        700: #ff9914,
        800: #ff9914,
        900: #ff9914,
        A100: #ff9914,
        A200: #ff9914,
        A400: #ff9914,
        A700: #ff9914,
        contrast: (
                50: #000000,
                100: #000000,
                200: #000000,
                300: #000000,
                400: #000000,
                500: #000000,
                600: #000000,
                700: #000000,
                800: #000000,
                900: #000000,
                A100: #000000,
                A200: #000000,
                A400: #000000,
                A700: #000000,
        )
);

$my-primary: mat.m2-define-palette($primary-palette, 500, 300, 800);
$my-accent: mat.m2-define-palette($secondary-palette);
$my-warn: mat.m2-define-palette($warn-palette, 500);
$my-error: mat.m2-define-palette($error-palette, 500);

$light-theme: mat.m2-define-light-theme((
        color: (
                primary: $my-primary,
                accent: $my-accent,
                warn: $my-warn,
                error: $my-error,
        ),
        typography: mat.m2-define-typography-config(),
        density: 0,
));
$dark-theme: mat.m2-define-dark-theme((
        color: (
                primary: $my-primary,
                accent: $my-accent,
                warn: $my-warn,
                error: $my-error,
        ),
        typography: mat.m2-define-typography-config(),
        density: 0,
));

@include mat.all-component-themes($light-theme);

.dark-theme {
  @include mat.all-component-colors($dark-theme);
}