<mat-drawer-container class="example-container" [hasBackdrop]="false" [class.drawer-opened]="drawer.opened">
    <mat-drawer #drawer [mode]="isMobile ? 'over' : 'side'" class="fin-drawer">
        <div class="drawer-container">
            <div class="close-btn-container">
                <button class="menu-item close-btn" (click)="toggleDrawer()">
                    <fin-icon tooltip="finCore.layout.openMenu" icon="xmark" size="md"/>
                </button>
            </div>
            <div class="drawer-header">
                <fin-text type="subtitle" [text]="'Pinned'"/>
            </div>

            <div cdkDropListGroup>
                <div class="drawer-grid pinned" cdkDropList #pinnedList="cdkDropList"
                     (cdkDropListDropped)="handleDropPinned($event)"
                     [cdkDropListData]="pinnedMenus()" [cdkDropListConnectedTo]="['unpinnedList']">
                    @for (menu of pinnedMenus(); track menu.id) {
                        <div class="menu-card" cdkDrag [cdkDragData]="menu">
                            <button [routerLink]="menu.frontRoute" class="card-button">
                                <fin-icon [tooltip]="menu.name" [icon]="menu.icon" [iconColor]="menu.color" size="xl"/>
                                <fin-text type="label" [text]="menu.name"/>
                            </button>
                        </div>
                    }
                </div>

                <div class="section-title">
                    <fin-text type="subtitle" [text]="'Not pinned'"/>

                    <fin-button
                            (onClick)="showUnpinned.set(!showUnpinned())"
                            [icon]="showUnpinned() ? 'chevron-up' : 'chevron-down'"
                            [iconTooltip]="showUnpinned() ? 'Hide unpinned' : 'show unpinned'"
                    />
                </div>

                @if (showUnpinned()) {
                    <div class="drawer-grid unpinned" cdkDropList #unpinnedList="cdkDropList"
                         (cdkDropListDropped)="handleDropUnpinned($event)"
                         [cdkDropListData]="unpinnedMenus()" [cdkDropListConnectedTo]="[pinnedList]">
                        @for (menu of unpinnedMenus(); track menu.id) {
                            <div class="menu-card" cdkDrag [cdkDragData]="menu">
                                <button [routerLink]="menu.frontRoute" class="card-button">
                                    <fin-icon [tooltip]="menu.name" [icon]="menu.icon" [iconColor]="menu.color"
                                              size="xl"/>
                                    <fin-text type="label" [text]="menu.name"/>
                                </button>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        @if (!drawer.opened) {
            <div class="menus-container">
                <button class="menu-item" (click)="toggleDrawer()">
                    <fin-icon tooltip="finCore.layout.openMenu" icon="bars" size="md"/>
                </button>
                @for (menu of pinnedMenus(); track menu.id) {
                    <ng-container *ngTemplateOutlet="btn; context: {menu: menu}"/>
                }
            </div>
        }

        <div class="app-container">
            <ng-content/>
        </div>
    </mat-drawer-content>
</mat-drawer-container>


<ng-template #btn let-menu="menu">
    <button [routerLink]="menu.frontRoute" class="menu-item">
        <fin-icon [tooltip]="menu.name" [icon]="menu.icon" [iconColor]="menu.color" size="md"/>
    </button>
</ng-template>