<fin-editor-layout
  [title]="this.editorType() == editorTypes.Create ? 'finCore.actions.creating' : 'finCore.actions.editing'"
  [loading]="loading()"
  [formGroup]="formGroup"
  [canSave]="canSave"
  [isSaving]="saving()"
  (onSave)="save()"
>
  @if (!loading()) {
    <fin-input label="finCore.features.menus.name" [formControl]="formGroup.controls.name" />
    <fin-input
      label="finCore.features.menus.frontRoute"
      [formControl]="formGroup.controls.frontRoute"
    />
    <fin-color-picker label="finCore.features.menus.color" [formControl]="formGroup.controls.color" />
    <fin-input
      label="finCore.features.menus.icon"
      helpText="https://fontawesome.com/search"
      [formControl]="formGroup.controls.icon"
      [iconSuffix]="formGroup.controls.icon.value"
      [iconSuffixColor]="formGroup.controls.color.value"
    />
    <fin-input label="finCore.features.menus.keyWord" [formControl]="formGroup.controls.keyWords" />
    <fin-select label="finCore.features.menus.position" [formControl]="formGroup.controls.position"
                [options]="selectOptions" />
    <fin-toggle-switch
      label="finCore.features.menus.onlyForAdmin"
      [formControl]="formGroup.controls.onlyForAdmin"
    />
  }
</fin-editor-layout>