<fin-editor-layout title="finCore.actions.creating">
  <fin-input label="finCore.features.menus.name" [formControl]="mockFOrm" />
  <fin-input label="finCore.features.menus.frotRoute" [formControl]="mockFOrm" />
  <fin-color-picker label="finCore.features.menus.color" [formControl]="mockFOrm2" />
  <fin-input label="finCore.features.menus.icon" [formControl]="mockFOrm" />
  <fin-input label="finCore.features.menus.keyWord" [formControl]="mockFOrm" />
  <fin-input label="finCore.features.menus.onlyForAdmin" [formControl]="mockFOrm" />
  <fin-select label="finCore.features.menus.position" [formControl]="mockFOrm" [options]="selectOptions" />
</fin-editor-layout>