<div class="select-container">
  <p-iftalabel
    [class.required]="required()"
    [class.disabled]="disabled()"
  >
    <p-select
      (onBlur)="onBlur()"
      [formControl]="formControl"
      [inputId]="id()"
      [options]="options()"
      [readonly]="loading() ? true : readonly()"
      [showClear]="!required()"
      appendTo="body"
      optionDisabled="disabled"
      optionLabel="labelTranslated"
      optionValue="value"
      class="w-full"
      [placeholder]="loading() ? ('finCore.actions.loading' | finTranslate) : ''"
    >

      @let itemTemplate = itemTemplateContent();
      @if (itemTemplate) {
        <ng-template #item let-option>
          <ng-container *ngTemplateOutlet="itemTemplate; context: { $implicit: option }" />
        </ng-template>
      }

      @let selectedItemTemplate = selectedItemTemplateContent();
      @if (selectedItemTemplate) {
        <ng-template #selectedItem let-option>
          <ng-container *ngTemplateOutlet="selectedItemTemplate; context: { $implicit: option }" />
        </ng-template>
      }

      <ng-template #clearicon>
        <fin-icon class="clear-icon" icon="times" />
      </ng-template>

      <ng-template #dropdownicon>
        <div class="dropdownicon">
          @if (!loading()) {
            <fin-icon icon="chevron-down" />
          } @else {
            <mat-spinner [diameter]="20" [strokeWidth]="3" />
          }
        </div>
      </ng-template>
    </p-select>
    <label [for]="id()">{{ label() | finTranslate }}</label>
  </p-iftalabel>

  <div class="sub-text">
    @if (!hasError()) {
      <fin-text [text]="helpText()" class="info-sub" type="info" />
    } @else {
      <fin-text [text]="errorMessageEffective()" class="error-sub" type="info" />
    }
  </div>
</div>