fin-select {
  .select-container {
    color: var(--text-color);
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 6px;

    p-select {
      background-color: var(--p-inputtext-background);
      border: 1px solid var(--p-inputtext-border-color);
      min-height: 60px;
      width: 100%;

      .dropdownicon i {
        color: var(--p-inputtext-hover-color);
      }

      &.p-disabled {
        background-color: var(--p-inputtext-background);
        filter: brightness(0.9);

        .dropdownicon {
          display: none;
        }
      }

      span {
        color: var(--p-inputtext-color);
      }
    }
  }

  .required {
    label::after {
      color: red;
      content: ' *';
    }
  }

  p-select.p-select.ng-invalid.ng-touched,
  p-select.p-select.ng-invalid.ng-dirty {
    border-color: var(--p-inputtext-invalid-border-color);
  }

  .p-select-clear-icon {
    top: 40%;

    .clear-icon i {
      color: var(--p-inputtext-hover-color);
    }
  }

  .sub-text {
    height: 30px;
    max-width: 100%;
    width: 100%;

    .error-sub {
      color: var(--color-error);
      display: flex;
    }
  }
}

div.p-select-overlay {
  background-color: var(--p-inputtext-background);
}

li.p-select-option.p-select-option-selected {
}

li.p-select-option:not(.p-select-option-selected, .p-disabled).p-focus {
  filter: brightness(1.2);
}
