<div class="input-container">
  <p-iftalabel [class.disabled]="disabled()" [class.required]="required()">
    <p-inputSwitch
      [formControl]="formControl"
      [id]="id()"
      [disabled]="disabled()"
      class="toggle-switch-input"
      #toggle
    ></p-inputSwitch>
    <label [for]="id()" >{{ label() | finTranslate }}</label>
  </p-iftalabel>
  <div class="sub-text">
    @if (!hasError()) {
      <fin-text [text]="helpText()" class="info-sub" type="info"/>
    } @else {
      <fin-text [text]="errorMessageEffective()" class="error-sub" type="info"/>
    }
  </div>
</div>