.form-container {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  width: 50%;

  .form-header {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .form-footer {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    margin-top: 1rem;
    width: 100%;
  }
}

form {
  max-width: 100%;
  overflow-y: auto;
  padding-top: 2rem;
  width: 100%;
}

@media (width <= 768px) {
  .form-container {
    width: 100%;
  }
}
