.app-container.dark-theme {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

.app-container.light-theme {
  background-color: var(--background-light);
  color: var(--text-light);
}

.app-container {
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}
