<div [class.dark-theme]="isDarkMode" [class.light-theme]="!isDarkMode" class="app-container">
  <fin-text text="welcome"/>
  <br/>
  <button (click)="toggleTheme()" mat-button>toggle theme</button>
  <br/>


  <div style="display: flex">
    <fin-input [formControl]="formControl" label="Normal"/>
    <fin-input [formControl]="formControl" helpText="Ajuda" label="Normal + help"/>

    <fin-input [formControl]="formControl" [readonly]="true" label="readonly"/>

    <fin-input [formControl]="formControlRequired" label="required"/>
    <fin-input [formControl]="formControlRequired" helpText="Ajuda required" label="required + help"/>

    <fin-input [formControl]="formControlDisabled" label="disabled"/>
  </div>


</div>


