.app-container.dark-theme {
  background-color: var(--background-dark);
  color: var(--text-dark);
  --text-color: var(--text-dark);
  --background-color: var(--background-dark);
  --background-inverted-color: var(--background-light);
}

.app-container.light-theme {
  background-color: var(--background-light);
  color: var(--text-light);
  --text-color: var(--text-light);
  --background-color: var(--background-light);
  --background-inverted-color: var(--background-dark);
}

.app-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  --mobile: 768px;
}
