<div [class.dark-theme]="isDarkMode" [class.light-theme]="!isDarkMode" class="app-container">
    <fin-text text="welcome"/>
    <br/>
    <button (click)="toggleTheme()" mat-button>toggle theme</button>
    <br/>


    <div style="display: flex; padding: 16px; gap: 8px; flex-direction: column">
        <fin-save-button
            (onSave)="log()"
            [canSave]="canSave()"
            [saving]="saving()"
        />

        <fin-button
                (onClick)="canSave.set(!canSave())"
                text="Salvar"
                style="width: 300px;"
        />
    </div>


</div>
