<div class="drawer-container">
    <div class="drawer-header">
        <fin-text
                text="Pinneds menus"
                type="subtitle"
                severity="primary"
        />

        <button class="action-btn" (click)="toggleSideNav()">
            <fin-icon
                    tooltip="finCore.layout.closeMenu"
                    icon="chevron-left"
                    size="md"
            />
        </button>
    </div>

    <div class="menus-container">
        <div class="pinned-menus">
            @for (menu of menus(); track menu.id) {
                <ng-container *ngTemplateOutlet="menuBtn; context: {menu: menu}"/>
            } @empty {
                vazio
            }
        </div>

        <div class="unpinned-menus">
            <div class="unpinned-menus-header">
                <fin-text
                        text="Unpinned menus"
                        type="subtitle"
                        severity="primary"
                />

                <button class="action-btn" (click)="unpinnedOpened.set(!unpinnedOpened())">
                    <fin-icon
                            [tooltip]="unpinnedOpened() ? 'finCore.actions.close' : 'finCore.actions.open'"
                            [icon]="unpinnedOpened() ? 'chevron-down' : 'chevron-up'"
                            size="md"
                    />
                </button>
            </div>

            @if (unpinnedOpened()) {
                <ng-content [@ifVertical]>
                    @for (menu of menus(); track menu.id) {
                        <ng-container *ngTemplateOutlet="menuBtn; context: {menu: menu}"/>
                    } @empty {
                        vazio
                    }
                </ng-content>
            }
        </div>

    </div>
</div>

<ng-template #menuBtn let-menu="menu">
    <button [routerLink]="menu.frontRoute" class="menu-option">
        <fin-icon
                class="drag-icon"
                size="sm"
                icon="bars"
                severity="secondary"
                tooltip="Alterar ordem"
        />

        <fin-icon [tooltip]="menu.name" [icon]="menu.icon" [iconColor]="menu.color" size="md"/>
        <fin-text [text]="menu.name" type="paragraph"/>
    </button>
</ng-template>
