<div class="create-container">
    <div class="create-header">
        <fin-icon icon="fin" size="15xl" type="image"/>
        <fin-text text="fin-core.appName" type="title"/>
        <fin-text text="fin-core.auth.pages.createAccount.title" type="subtitle"/>
        <fin-text text="fin-core.auth.pages.createAccount.subtitle" type="info"/>
    </div>

    <p-tabs value="0">
        <p-tablist>
            <p-tab value="0">Cedencias</p-tab>
            <p-tab value="1">Você</p-tab>
            <p-tab value="2">Pronto</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <p class="m-0">
                    AASDSA
                </p>
            </p-tabpanel>
            <p-tabpanel value="1">
                <p class="m-0">
                    SASD
                </p>
            </p-tabpanel>
            <p-tabpanel value="2">
                <p class="m-0">
                    DASD
                </p>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>

</div>