<div class="create-container">
    <div class="create-header">
        <!--        <fin-icon icon="fin" size="xl" type="image"/>-->
        <fin-text text="fin-core.appName" type="title"/>
        <fin-text text="fin-core.auth.pages.createAccount.title" type="subtitle"/>
        <fin-text text="fin-core.auth.pages.createAccount.subtitle" type="info"/>
    </div>

    <p-stepper [value]="1" [linear]="true">
        <p-step-list>
            <p-step [value]="1">{{ 'fin-core.auth.pages.createAccount.steps.credentials.title' | translate }}</p-step>
            <p-step [value]="2">{{ 'fin-core.auth.pages.createAccount.steps.personal.title' | translate }}</p-step>
            <p-step [value]="3">{{ 'fin-core.auth.pages.createAccount.steps.finished.title' | translate }}</p-step>
        </p-step-list>
        <p-step-panels>
            <p-step-panel [value]="1">
                <ng-template #content>
                    <fin-auth-create-credential-step/>
                </ng-template>
            </p-step-panel>

            <p-step-panel [value]="2">
                <ng-template #content>
                    <fin-auth-create-personal-step/>
                </ng-template>
            </p-step-panel>

            <p-step-panel [value]="3">
                <ng-template #content>
                    <fin-auth-create-finished-step/>
                </ng-template>
            </p-step-panel>
        </p-step-panels>
    </p-stepper>

</div>