@if (iconOptions()) {
    <fin-icon
            [icon]="iconOptions()?.icon"
            [tooltip]="iconOptions()?.tooltip ?? ''"
            [iconColor]="iconOptions()?.color"
            [fontAwesomeType]="iconOptions()?.fontAwesomeType ?? 'fa-solid'"
            [type]="iconOptions()?.type ?? 'fontAwesome'"
            [imageFolder]="iconOptions()?.imageFolder ?? 'icons/'"
            [imageExtension]="iconOptions()?.imageExtension ?? '.png'"
            [severity]="iconOptions()?.severity ?? 'primary'"
    />
}