:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding-top: 25px;
  width: 100vw;
}

div.auth-container {
  background-color: var(--background-color);
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 24%) 0 3px 8px;
  height: 75vh;
  width: 25vw;
}

.light-theme {
  :host {
    background: linear-gradient(
      135deg,
      var(--color-primary) 0%,
      var(--color-secondary) 100%
    );
  }
}

.dark-theme {
  :host {
    background-color: var(--background-color);

    div.auth-container {
      border: var(--color-primary) 4px solid;
      box-shadow: var(--color-primary) 0 0 50px;
    }
  }
}

fin-text {
  bottom: 0.5rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

@media (width <= 1650px) {
  div.auth-container {
    height: 80vh;
    width: 30vw;
  }
}

@media (width <= 1150px) {
  div.auth-container {
    width: 50vw;
  }
}

@media (width <= 800px) {
  div.auth-container {
    width: 85vw;
  }
}
