<fin-editor-layout
  [title]="this.editorType() == editorTypes.Create ? 'finCore.actions.creating' : 'finCore.actions.editing'"
  [loading]="loading()"
  [formGroup]="formGroup"
  [canSave]="canSave"
  [isSaving]="saving()"
  (onSave)="save()"
  (onCancel)="close()"
>
  @if (!loading()) {
    <fin-input 
      label="finCore.features.financialInstitutions.name" 
      helpText="finCore.features.financialInstitutions.nameHelp"
      [formControl]="formGroup.controls.name" 
    />
    
    <fin-select
      label="finCore.features.financialInstitutions.type"
      [formControl]="formGroup.controls.type"
      [options]="typeSelectOptions"
    />
    
    <fin-input 
      label="finCore.features.financialInstitutions.code" 
      helpText="finCore.features.financialInstitutions.codeHelp"
      [formControl]="formGroup.controls.code" 
    />
    
    <fin-input 
      class="col-6"
      label="finCore.features.financialInstitutions.icon" 
      helpText="finCore.features.financialInstitutions.iconHelp"
      [formControl]="formGroup.controls.icon"
      [iconSuffix]="formGroup.controls.icon.value"
      [iconSuffixColor]="formGroup.controls.color.value"
    />
    
    <fin-color-picker 
      class="col-6"
      label="finCore.features.financialInstitutions.color" 
      [formControl]="formGroup.controls.color" 
    />
    
    <fin-toggle-switch
      label="finCore.features.shared.active"
      [formControl]="formGroup.controls.active"
    />
  }
</fin-editor-layout>
