<fin-select [label]="label()" [formControl]="formControl" [options]="selectOptions" [readonly]="readonly()"
  [customErrorText]="customErrorText()" [helpText]="helpText()" [id]="id()">
  <ng-template #itemTemplate let-option>
    <div class="select-option">
      <fin-icon [icon]="option.customValue.icon" [iconColor]="option.customValue.color" />
      <fin-text type="paragraph" [text]="option.label" />
    </div>
  </ng-template>

  <ng-template #selectedItemTemplate let-option>
    <div class="select-option">
      <fin-icon [icon]="option.customValue.icon" size="sm" [iconColor]="option.customValue.color" />
      <fin-text type="paragraph" [text]="option.label" />
    </div>
  </ng-template>

</fin-select>