<fin-dialog
  [icon]="icon()"
  [severity]="finSeverity()"
  iconSize="md"
  [title]="data.title"
  [onClose]="data.showCloseButton ? close.bind(this) : null"
>

  @if (data.bodyTemplate) {
    <ng-container *ngTemplateOutlet="data.bodyTemplate" />
  } @else if (isHtml()) {
    <fin-text type="paragraph">
      <div [innerHTML]="data.bodyTextOrHtml | safeHtml"></div>
    </fin-text>
  } @else {
    <fin-text [text]="data.bodyTextOrHtml" type="paragraph" />
  }

  @if (data.footerTemplate) {
    <ng-container footer *ngTemplateOutlet="data.footerTemplate; context: { closeFn: close.bind(this) }" />
  }
</fin-dialog>

