<div class="send-reset-container">
    <div class="send-reset-header">
        <fin-icon type="image" icon="fin" size="15xl"/>
        <fin-text text="fin-core.appName" type="title"/>
        <fin-text text="fin-core.auth.pages.sendResetEmail.title" type="subtitle"/>
        <fin-text text="fin-core.auth.pages.sendResetEmail.subtitle" type="info"/>
    </div>
    <form [formGroup]="form" class="send-reset-form">
        <fin-input
                [formControl]="form.controls.email"
                label="fin-core.auth.email"
                type="email"
                width="300px"
        />
    </form>
    <div class="actions">
        <fin-button text="fin-core.auth.pages.sendResetEmail.sendLink" [disabled]="!form.valid"/>
        <fin-button
                text="fin-core.auth.pages.sendResetEmail.comeBackLogin"
                variant="text"
                icon="arrow-left-long"
                iconColor="var(--color-secondary)"
                routerLink="/authentication/login"
        />
    </div>
</div>