<div class="send-reset-container">
    <div class="send-reset-header">
        <fin-icon type="image" icon="fin" size="15xl"/>
        <fin-text text="finCore.appName" type="title"/>
        <fin-text text="finCore.auth.pages.sendResetEmail.title" type="subtitle"/>
        <fin-text text="finCore.auth.pages.sendResetEmail.subtitle" type="info"/>
    </div>
    <form [formGroup]="form" class="send-reset-form">
        @if (!emailSent()) {
            <fin-input
                    [formControl]="form.controls.email"
                    label="finCore.auth.email"
                    type="email"
                    width="300px"
            />
        } @else {
            <fin-icon
                    icon="envelope-open-text"
                    iconColor="var(--color-secondary)"
                    size="10xl"
            />
            <fin-text
                    textColor="var(--color-secondary)"
                    type="info"
                    text="finCore.auth.pages.sendResetEmail.emailSent"
            />
        }
    </form>
    <div class="actions">
        @if (!emailSent()) {
            <fin-button
                    text="finCore.auth.pages.sendResetEmail.sendLink"
                    [disabled]="!form.valid || sendingEmail()"
                    [spinner]="sendingEmail()"
                    (onClick)="sendEmail()"
            />
        }
        <fin-button
                text="finCore.auth.comeBackLogin"
                variant="text"
                icon="arrow-left-long"
                iconColor="var(--color-secondary)"
                routerLink="/authentication/login"
        />
    </div>
</div>