.send-reset-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.send-reset-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: center;
}

.send-reset-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 30%;
  justify-content: center;
  padding-top: 2rem;
  width: fit-content;
}

.actions {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 30%;
  padding-top: 3rem;
  width: 100%;

  fin-button {
    width: 75%;
  }
}
