<div
  [matTooltip]="!!tooltip() ? (tooltip() | finTranslate) : undefined"
  [style.background-color]="boxColor()"
  [style.border-radius.px]="boxRadius()"
  [style.padding.px]="padding()"
  class="icon-container"
>
  @if (type() === 'fontAwesome') {
    <i
      [class]="fontAwesomeType() + ' fa-' + icon()"
      [style.font-size.px]="iconSize()"
      [style.width.px]="iconSize()"
      [style.height.px]="iconSize()"
      [style.color]="iconEffectiveColor()"
    ></i>
  } @else {
    <img
      [style.color]="iconEffectiveColor()"
      [ngSrc]="imagePath()"
      [alt]="icon()"
      [width]="iconSize()"
      [height]="iconSize()"
    />
  }
</div>
