:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  flex: 1
}

fin-button {
  width: 75%;
  padding-bottom: 1rem;
}

p-inputotp {
  padding-top: 1rem;
  padding-bottom: 0.25rem;
}

.erro-info {
  height: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.confirmation-code-form {
  display: flex;
  flex-direction: column;
}