@if (!creationToken()) {
    <form [formGroup]="credentialForm">
        <fin-input
                [formControl]="credentialForm.controls.email"
                label="fin-core.auth.email"
                type="email"
                width="300px"
        />

        <fin-input
                [formControl]="credentialForm.controls.password"
                label="fin-core.auth.password"
                type="password"
                width="300px"
        />

        <fin-password-rules-info [passwordControl]="credentialForm.controls.password"/>

        <fin-input
                [formControl]="credentialForm.controls.passwordConfirmation"
                label="fin-core.auth.confirmYourPassword"
                type="password"
                width="300px"
                [customErrorText]="credentialForm.controls.passwordConfirmation.errors?.['passwordsDoNotMatch'] ? 'fin-core.auth.erros.passwordsMustBeEquals': ''"
        />
    </form>
} @else {
    <form>asd</form>
}

<fin-button
        text="fin-core.auth.pages.createAccount.next"
        [disabled]="!credentialForm.valid || loadingButton()"
        iconSuffix="arrow-right"
        (onClick)="nextStep()"
        [spinner]="loadingButton()"
/>

