@if (!creationToken()) {
    <form [formGroup]="credentialForm">
        <fin-input
                [formControl]="credentialForm.controls.email"
                label="fin-core.auth.email"
                type="email"
                width="300px"
        />

        <fin-input
                [formControl]="credentialForm.controls.password"
                label="fin-core.auth.password"
                type="password"
                width="300px"
        />

        <fin-password-rules-info [passwordControl]="credentialForm.controls.password"/>

        <fin-input
                [formControl]="credentialForm.controls.passwordConfirmation"
                label="fin-core.auth.confirmYourPassword"
                type="password"
                width="300px"
                [customErrorText]="credentialForm.controls.passwordConfirmation.errors?.['passwordsDoNotMatch'] ? 'fin-core.auth.erros.passwordsMustBeEquals': ''"
        />
    </form>
} @else {
    <form class="confirmation-code-form" [formGroup]="confirmationCodeForm">
        <fin-text textColor="var(--color-primary)"
                  text="fin-core.auth.pages.createAccount.steps.credentials.typeCodeSentOnEmail"
                  type="paragraph"/>
        <p-inputotp
                [formControl]="confirmationCodeForm.controls.confirmationCode"
                [invalid]="confirmationCodeForm.controls.confirmationCode.invalid"
                [length]="6"
                styleClass="upper"
        ></p-inputotp>
        <div class="erro-info">
            @if (confirmationCodeForm.controls.confirmationCode.invalid
            && confirmationCodeForm.controls.confirmationCode.dirty) {

                <fin-text
                        text="fin-core.auth.pages.createAccount.steps.credentials.invalidCode"
                        type="info"
                        textColor="var(--color-error)"
                />
            }
        </div>

    </form>
}

<fin-button
        text="fin-core.auth.pages.createAccount.next"
        [disabled]="(!credentialForm.valid && !creationToken()) || (!confirmationCodeForm.valid && !!creationToken()) || loadingButton()"
        iconSuffix="arrow-right"
        (onClick)="nextStep()"
        [spinner]="loadingButton()"
/>

